.profile-page {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius-16);
    background: var(--color-white-100);
    padding: 40px 0;
  }
  &__avatar {
    margin-bottom: 16px;
  }
}