.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 80px;
  background: var(--color-white-100);
  padding: 20px 0;

  &__container {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
  }

  &__log-in {
    float: right;
  }
}

.app-nav {
  display: flex;
  align-items: center;
  gap: 24px;
}
