.not-found-page {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: calc((100vh - 160px));
  }

  &__title {
    font-size: 160px;
    line-height: 200px;
  }
}