body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-black-100);
  background-color: var(--color-white-150);
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1120px;
  padding: 0 40px;
  margin: 0 auto;
}

:root {
  --color-black-100: #191919;
  --color-greey-100: #747474;
  --color-white-100: #FFFFFF;
  --color-white-150: #F5F5F5;
  --color-white-200: #f3f3f3;
  --color-red-100: #d22525;

  --transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);

  --border-radius-16: 16px;
  --border-radius-8: 8px;
}