// Base Breakpoints
$breakpoints: (
  'deskL': 1799px,
  'deskM': 1439px,
  'deskS': 1365px,
  'tabM': 767px,
  'mobM': 375px,
);

@mixin breakpoint-down($breakpoint) {
  @media (max-width: map_get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin breakpoint-up($breakpoint) {
  @media (min-width: map_get($breakpoints, $breakpoint)) {
    @content;
  }
}
