.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: calc(80px + 40px); // header height (80px) + layout padding (40px)
  padding-bottom: 40px;

  > section,
  > article,
  > div {
    flex: 1;
  }
}
