.register-form {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--color-white-100);
  padding: 34px;
  border-radius: var(--border-radius-16);
}